<div class="home-section" style="top:80px; text-align:center;">
	<div class="home-section" style=" text-align:center;">
		<div class="home-section" style="text-align:center;">
			<div class="home-section" style=" text-align:center;">
				<!-- Head Section -->
   				<section class="page-section" id="about">
    				<div class="container relative">
            			<div class="mb-10">
          					<a href="/poster/create" class="btn btn-mod btn-mod btn-large btn-round" style="float:right; top:-20;">load post</a>
          					<h2 class="section-title font-alt align-left mb-70 mb-sm-40">
              					YOUR JEJU..
          					</h2>
        				</div>
        				<div class="row">
			        	<div class="container">				
			    			<ul class="works-grid work-grid-2 clearfix font-alt hover-white hide-titles" id="work-grid">
			            
			                    <!-- Work Item (External Page) -->
			                     <% @every_post.each do |p|%>
			                    <li class="work-item mix branding design">
			                        <a  href="/poster/<%=p.id%>/detail" class="work-ext-link">
			                            <div class="work-img work-ext-link">
			                                <img src="<%= p.image.url %>" /> 
			                            </div>
			                            
			                            <div class="work-intro">
			                                <h3 class="work-title"><%=p.title%></h3>
			                                <div class="work-descr">
			                                  <%=p.host %>
			                                </div>
			                            </div>
			                        </a>
			                    </li>
			                    <% end%>
			                </ul>
						</div>
			          
			        	</div>
			    	</div>
				</section>
			<!-- End About Section -->
			</div>
		</div>
	</div>
</div>
