        <!-- Footer -->
<footer class="page-section bg-gray-lighter footer pb-60">
    <div class="container">
    
        <!-- Footer Text -->
        <div class="footer-text">
            
            <!-- Copyright -->
            <div class="footer-copy font-alt">
                <a href="http://themeforest.net/user/theme-guru/portfolio" target="_blank">&copy; Likelion 2017</a>.
            </div>
            <!-- End Copyright -->
            
            <div class="footer-made">
                Learn by doing
            </div>
            
        </div>
        <!-- End Footer Text --> 
        
     </div>
     
     
     <!-- Top Link -->
     <div class="local-scroll">
         <a href="#top" class="link-to-top"><i class="fa fa-caret-up"></i></a>
     </div>
     <!-- End Top Link -->
     
</footer>
<!-- End Footer -->